body{
    margin:0px;
    padding:0px;
}
.container-1{
    width:75%;
    margin:0px auto;
    text-align:center;
}
.flex-box-container-1{
display:flex;
border:1px solid black;
padding:10px;
justify-content:space-around;
flex-wrap: wrap;
flex-direction:row;
}

.flex-box-container-1 div{
    padding:10px; 
    margin:0px auto;
}